/*------------------
  Header section
---------------------*/
#header {
  background: url(../img/hero1.jpg);
  height:100vh;
  color: white;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}

a:link, a:visited  {
  color: #273D2D;
  background-color: transparent;
  text-decoration: none;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  padding-left: 1em;

}

a:hover   {
text-decoration: underline;
}


#links ul {
  border: 0;
  padding: 0;
  margin: 0;
	color: white;


}

#links li {
  list-style: none;
  float:left;
  margin:2em;
  margin-left:auto;
	color: white;
}

#quote {
  color: #273D2D;
  padding: 20px;
  font-family: serif;
  font-weight: ;
}
.quot {
  padding: 4em;
  background-color: rgba(39, 61, 45, 0.2);
}

.quot h3 {
  font-size: 20px;
  color: #273D2D;
  line-height: 35px;
  font-style: normal;
  text-align: center;

}

.services h3{
  font-size: 20px;
  color: white;

}

div.rightlinks {
  float: right;
}

.clearfloats {
  clear:both;
  margin: 0px;
  padding: 0px;
}

.spacer {
  height:30px;
}

.spacer1 {
  height:10px;
}


.h1 {
	color: white;
	padding-left: 20px;
	font-style: 70px;
	font-size: 56px;
}

.h2 {
	color: white;
	padding-left: 20px;
	font-family: serif;
}

#twaha-showing {
	display: none;
}

#anwar-showing {
	display: none;
}

#mp-showing {
	display: none;
}

#women-rep-showing {
	display: none;
}

#mcas-showing {
	display: none;
}

#agriculture-showing {
	display: none;
}

	.clickable {
	  color: white;
	  cursor: pointer;
	}

	.clickable:hover {
	  text-decoration: underline;
	}

  #logo {
  height: 100px;
  vertical-align: middle;
}

.p{
  font-family: serif;
  font-size: 14;
}

#footer {
  background-color: #273D2D;
  height:35vh;
  color: white;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding-top:20px;
}
